.promo {
    background-image: url("../img/mountines.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

.promo-wrapper {
    display: flex;
}

.promo-img__column {
    width: 570px;
    margin-right: 30px;
    padding-top: 50px;
}

.promo-text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.promo-text__uppercase {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 60px;
    font-weight: 700;
}

.promo-text__big {
    font-size: 60px;
    font-weight: 600;
}
