.success-secret {
    padding-bottom: 150px;
}

.success-secret-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
}

.success-secret__wrapper {
    display: flex;
}

.success-secret__img {
    width: 600px;
    min-height: 680px;
    background-image: url(img/woman.jpg);
    background-repeat: no-repeat;
}

.success-secret-list-column {
    width: 500px;
    padding-left: 70px;
}

.success-secret-list-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.success-secret-list {
    list-style: none;
}
