.warranty-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #303030;
}

.warranty-wrapper {
    display: flex;
}

.warranty-text__column {
    width: 670px;
    margin-right: 15px;
}

.warranty-img__column {
    width: 485px;
}
